	.header-a{
		background: var(--theme-color-one);
		background-image: linear-gradient(to right,var(--theme-color-one),var(--theme-color-one-light));
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:3px 10px;
		color: white;
		position: sticky;
		top: 0;
		z-index: 1000;
	}
	.header-a-name{
		display: flex;
		align-items: center;
	}
	.header-a-name>img{
		max-height: 80px;
		margin-right: 5px;
	}
	.header-a-name>span{
font-size: 1.2em;
	}	
	.header-a-action-box{
		display: flex;

	}
	.header-a-action-box>i{
		font-size: 1.1em;
		margin: 2px 6px;
		cursor: pointer;
	}