	#login-page{
		background: pink;
		position: relative;
		background:url('../images/bg-screen.jpg');
		background-attachment:fixed;
		background-size: cover;
		bottom: 0;
		left: 0;
		height: 100vh;
	}
	.loginBoxOut{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.3);
	height: 100%;
}
.loginBox{
	width: 95%;
	max-width:400px;
	background: white;
	overflow:hidden;
	position: relative;
}

#login-back>.login-back-image-cover{
	background: var(--theme-color-one);
	padding: 20px 20px 50px 20px;
	text-align: center;

}
#login-back>.login-back-image-cover>img{
	max-width: 100%;
	max-height: 100%;
	max-width: 100px;
}
#login-form{
	width:320px;
	background: white;
	position: absolute;
	margin:auto;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	box-shadow: 0 0 1px lightgrey;
}
#login-form  input[type='text'],#login-form  input[type='password'], #login-form  select {
	border:1px solid var(--theme-color-bluegrey);
	margin:auto;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	padding: 5px 10px;
	box-sizing: border-box;
}
#login-form h1{
	text-align: center;
	color: #626663;
	padding: 10px;
}
.btn-full-width{
	background: var(--theme-color-one);
	height: 35px;
	line-height: 35px;
	width: 100%;
	min-height: 35px;
	padding: 0;
}
#forget-password{
	color: lightgrey;
	font-style: italic;
	cursor: pointer;
	margin:15px 5px 5px 5px;
}
#forget-password:hover{
	color: black;
}
#formErro{
	text-align:center;
	color: red;
	padding: 5px;
}
#login-form  input[type='text']:focus #formErro{
	display: none;
}
#login-options{
	padding:15px 7px;
}
#login-options>div{
margin-bottom: 5px;
text-align:center;
}
#login-options>div>span{
color: var(--theme-color-steelblue);
font-style: italic;
cursor: pointer;
}
#login-options>div>span:hover{
color: black;
}