<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  #Url setting for live
  #RewriteBase /public
  #Url setting for localhost
  RewriteBase /agile/public
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
